[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
factory-boy = "*"
pytest = "*"
pytest-django = "*"

[packages]
django = "*"
psycopg2 = "*"
marshmallow = "*"

[scripts]
server = "python manage.py runserver"
test = "pipenv run pytest"

[requires]
python_version = "3.8"
